.layout {
  display: flex;
  height: 100vh; /* Ensure layout takes the full height of the viewport */

}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #f3f4f6;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 20px;
  transition: transform 0.3s ease;
  z-index: 100;
}

.content {
  margin-left: 250px;
  width: calc(100% - 250px); 
  background-color: #f3f4f6;
}

.topbar {
  background-color: #f3f4f6;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  
}

.main-content {
  background-color: white;
  margin-top: 2%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 2%;
  min-height: calc(100vh - 100%);
  border-radius: 10px;
}

.menu-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .content {
    margin-left: 0;
    width: 100%;
  }
}

